<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ekart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- global styles -->
    <link href="css/style.css" rel="stylesheet">
    <!-- scripts -->

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- Angular and Route -->
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/angular/angular-route.js"></script>
    <script type="text/javascript" src="lib/angular/angular-cookies.js"></script>
    <script type="text/javascript" src="lib/angular/angular-rating.js"></script>

    <!-- jQuery -->
    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/jquery/jquery-min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="lib/bootstrap/bootstrap.min.js"></script>

    <!-- User JS -->
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/properties.js"></script>    
    <script type="text/javascript" src="js/controllers.js"></script>
</head>
<style>
.badge-notify{
   background:red;
   position:relative;
   top: -15px;
   left: -15px;
}
</style>

<body ng-app="ekart" ng-controller="searchCtrl" >

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/HomeProducts" style="color:white">ekart</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="col-md-3 nav navbar-nav navbar-right ">                    
                        <div class="input-group stylish-input-group" style="padding-top:8px;" >
                            <input type="text" class="form-control" ng-model="searchProduct" placeholder="search product by name">
                            <span class="input-group-addon">
                                <button ng-click="searchProducts()" type="button">
                                    <span class="glyphicon glyphicon-search" ></span>
                                    </button>
                            </span>
                        </div>                  
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li ng-controller="cartController" ng-init="getCartCount()">
                        <a href="#/cart" ng-click="movingToCart()"  style="color:white"> <span class="fa fa-shopping-cart fa-lg">                            
                             <span class="badge badge-notify">{{cartCount}}</span>                            
                            </span> </a>
                    </li>                    
                    <li>
                        <a href="#/Signup" style="color:white">Register</a>
                    </li>
                    <li>
                        <a href="#/login" style="color:white">Login</a>
                    </li>
                   <!-- <li>
                        <a href="#/trackOrder" style="color:white">Track Order</a>
                    </li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- ng-View -->
    <ng-view></ng-view>

</body>
</html>