<!DOCTYPE html>
<html lang="en">

<head>

    <title>Ekart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">


    <!-- global styles -->

    <link href="css/style.css" rel="stylesheet">
    <!-- scripts -->



    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">





    <!-- Angular and Route -->
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/angular/angular-route.js"></script>
    <script type="text/javascript" src="lib/angular/angular-cookies.js"></script>
    <script type="text/javascript" src="lib/angular/angular-rating.js"></script>


    <!-- jQuery -->
    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/jquery/jquery-min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="lib/bootstrap/bootstrap.min.js"></script>
    <!-- User JS -->

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/properties.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>


</head>

<body ng-app="ekart" ng-controller="loginController">

    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" style="color:white">ekart</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="searchCtrl">
                   
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/addProducts" style="color:white" >Add Product</a>
                    </li>
                    <li>
                        <a href="#/viewMyProducts" style="color:white">View Products</a>
                    </li>
                    <li>
                        <a href="#/userCart" style="color:white" >User's Cart</a>
                    </li>
                    <li>
                        <a href="#/orderStatus" style="color:white">Order Status</a>
                    </li>

                   
                </ul>
                <ul class="nav navbar-right navbar-nav" ng-controller="logoutController">
                    <li style="padding-right: 10px">
                        <a href="#" ng-click="logout()" title="log out" style="color:white"> <span class="glyphicon glyphicon-log-out"></span> </a>
                    </li>
                </ul>
            </div>


            <!-- /.container -->
        </nav>
    </div>

    <!-- ng-View -->
    <ng-view></ng-view>






</body>

</html>