<!DOCTYPE html>
<html lang="en">

<head>

    <title>Ekart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">


    <!-- global styles -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">


    <!-- Angular and Route -->
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/angular/angular-route.js"></script>
    <script type="text/javascript" src="lib/angular/angular-cookies.js"></script>
    <script type="text/javascript" src="lib/angular/angular-rating.js"></script>

    <!-- jQuery -->
    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/jquery/jquery-min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="lib/bootstrap/bootstrap.min.js"></script>

    <!-- User JS -->
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/properties.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
</head>
<style>

.badge-notify{
   background:red;
   position:relative;
   top: -15px;
   left: -15px;
}


</style>



<body ng-app="ekart" ng-controller="searchCtrl">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/HomeProducts" style="color:white">ekart</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">                
                <div class="col-md-3 nav navbar-nav navbar-right ">
                        <div class="input-group stylish-input-group" style="padding-top:8px;" >
                            <input type="text" class="form-control" ng-model="searchProduct" placeholder="search product by name">
                            <span class="input-group-addon">
                                <button ng-click="searchProducts()" type="button">
                                    <span class="glyphicon glyphicon-search" ></span>
                                    </button>
                            </span>
                        </div>                  
                </div>
                                
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/HomeProducts" class="glyphicon glyphicon-home" style="color:white"></a>
                    </li>
                    <li>
                        <a href="#/EditProfile" class="glyphicon glyphicon-edit" style="color:white" title="Edit Profile"></a>
                    </li>
                    <li>
                        <a href="#/order" class="fa fa-dropbox fa-lg" style="color:white" title="My Orders">
                        </a>
                    </li>
                    <li>
                        <a href="#/recommend" style="color:white" class="fa fa-thumbs-up fa-lg" title="Recommended Products"> 
                        </a>
                    </li>
                    <li>
                        <a href="#/wishlist" class="fa fa-heart fa-lg" style="color:white" title="Wishlists">
                        </a>
                    </li>
                    <li class="dropdown" ng-controller="notificationController">
                        <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                            <i data-count="2"  class="glyphicon glyphicon-bell" style="color:white">
                                   <span class="badge badge-notify fa-5x">{{size}}</span>
                            </i>
                        </a>
                        <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel"  style="width:300px;">
                            <div class="notifications-wrapper">
                                <div class="notification-item" ng-repeat="item in notificationsList">
                                    <a class="content" href="#/{{item.messageType}}">
                                        <p style="padding-left: 10px;" class="item-info">{{ item.message }} &nbsp;   @  &nbsp;  {{ item.timestamp }}  </p>
                                    </a>
                                </div>
                            </div>
                        </ul>
                </ul>
                <ul class="nav navbar-right navbar-nav">
                    <li>
                        <a href="#/payMethod"  style="color:white"  title="Add a Card"> <span class="fa fa-credit-card fa-lg">                            
                            </span> </a>
                    </li>
                    <li>
                        <a href="#/addr" title="Add an address" style="color:white"> <span class="fa fa-address-book fa-lg"></span> </a>
                    </li>
                    <li ng-controller="cartController" ng-init="getCartCount()">
                        <a href="#/cart" ng-click="movingToCart()"  style="color:white"> <span class="fa fa-shopping-cart fa-lg">                            
                             <span class="badge badge-notify">{{cartCount}}</span>                            
                            </span> </a>
                    </li>                    
                    <li style="padding-right: 10px" ng-controller="logoutController">
                        <a href="#" ng-click="logout()" title="log out" style="color:white"> <span class="glyphicon glyphicon-log-out"></span> </a>
                    </li>
                </ul>
                </li>
            </div>
            <!-- /.navbar-collapse -->

            <!-- /.container -->
        </nav>
    </div>

    <!-- ng-View -->
    <ng-view></ng-view>


    <!-- <div class="container">

        <hr>

        &lt;!&ndash; Footer &ndash;&gt;
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-center">Copyright &copy; Ekart 2016</p>
                </div>
            </div>
        </footer>

    </div>-->
    <!-- /.container -->



</body>

</html>