
body {
    padding-top: 70px; 
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;

    border:none;

}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;

}

footer {
    margin: 50px 0;
}