<div class="container">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5" align="center">
            <form ng-submit="addProductDetails()">

                <h3> Add product </h3>

                <div class="form-group">
                    <select ng-model="addProductForm.category" class="form-control">
                <option value="">--Select Category--</option>
                <option value="mobile">Mobile</option>
                <option value="television" >Television</option>
                <option value="camera" >Camera</option>
                <option value="headphone" >Headphone</option>
                <option value="watch" >Watch</option>
                <option value="laptop" >Laptop</option>
            </select>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" pattern="[A-Za-z0-9 ]{1,20}" ng-disabled="flag" title="product name can only contain alphabets and digits (20 chars)" placeholder="Product Name" class="form-control" ng-model="addProductForm.displayName" required>
                        </div>
                        <div class="col-md-2">
                            <button ng-click="searchProducts()" data-toggle="modal" data-target="#myModal" type="button" class="btn" style="background:none;  outline: none;color:blue;"> Get Details</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="number" placeholder="Price" class="form-control" ng-model="addProductForm.price" required min=0>
                </div>

                <div class="form-group">
                    <input type="text" placeholder="Short Description" ng-disabled="flag"  class="form-control" ng-model="addProductForm.shortDesc" required>
                </div>

                <div class="form-group">
                    <input type="text" placeholder="Description" ng-disabled="flag" class="form-control" ng-model="addProductForm.description" required>
                </div>


                <div class="form-group">
                    <input type="number" placeholder="Discount" class="form-control" ng-model="addProductForm.discount" min=0>
                </div>

                <div class="form-group">
                    <input type="number" placeholder="Delivery charge" class="form-control" ng-model="addProductForm.deliveryCharge" min=0>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-block" >Add product</button>
                </div>
                <div class="text-center">
                    <h4> {{ message }} </h4> </div>
            </form>
            </div>
        </div>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Products available in Ekart</h4>
                    </div>
                    <div class="modal-body text-center">
                        <table class="table table-bordered table-hover">
                            <thead class="bg-success text-center">
                                <tr>
                                    <th>Product name</th>
                                    <th>Select</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="item in productsList">
                                <tr>
                                    <td>
                                        {{item.displayName}}
                                    </td>    
                                    <td class="text-center">
                                        <input type="radio" name="product" ng-click="searchProductbyName(item.displayName)" ng-value="item.displayName" ng-model="addProductForm.displayName">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center">
                        <h4> {{ searchProductsmessage }} </h4>
                    </div>    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>