<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" align="center">
            <br>

            <h3 align="center">Add Address</h3>
            <br>
            <form ng-submit="saveaddress()">
                <div class="form-group">
                    <input type="text" ng-model="addressObject.address" placeholder="Address first Line" class="form-control"  required/>
                </div>
                <div class="form-group">
                    <input type="text" pattern="^[a-zA-Z-\s]+$"  title=" : only Letters, spaces and (-) are allowed  " ng-model="addressObject.city" placeholder="city" class="form-control" required/>
                </div>
                <div class="form-group">
                    <select ng-model="addressObject.state" class="form-control" required>
                        <option value="">--select-- </option>
                        <option class="form-control" ng-repeat="city in statesList" ng-value="city"> {{ city }}
                </select>
                </div>
                <div class="form-group">
                    <input type="text" pattern="^([0-9]{6})$" title=" : Only 6 digits are allowed " ng-model="addressObject.pinCode" placeholder="Pin Code" class="form-control" required/>
                </div>
                <div class="form-group">
                    <input type="text" pattern="^([0-9]{10})$" title=" : Only 10 digits are allowed " ng-model="addressObject.phoneNumber" placeholder="Contact No" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="submit"  value="Save" class="btn btn-info btn-block" />
                </div>
                <br>
                <div class="text-center">
                        <h4>  {{ message }} </h4>
                </div>    
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div>
                            <div>
                                <div ng-init="getAddressInfo()">
                                    <div class="col-md-12">
                                        <br>
                                        <div class="text-center">
                                            <!-- existing address -->
                                            <div class="panel panel-default">
                                                <table class="table table-bordered table-hover" ng-show="addressList.length != 0">
                                                    <thead class="text-center">
                                                        <tr bgcolor="#F0F0F0">
                                                            <th>City</th>
                                                            <th>Phone number</th>
                                                            <th>State</th>
                                                            <th>Pin Code</th>
                                                            <th>Address</th>
                                                            <th>Modify address</th>
                                                            <th>Delete address</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody ng-repeat="item in addressList">
                                                        <tr>
                                                            <td>{{item.city}}</td>
                                                            <td>{{item.phoneNumber}}</td>
                                                            <td>{{item.state}}</td>
                                                            <td>{{item.pinCode}}</td>
                                                            <td>{{item.address}}</td>
                                                            <td class="text-center">                                                               
                                                               <a href=""  data-toggle="modal" data-target="#myModal2" ng-click="getAddressbyId(item.addressId)" title="modify address"> <span class="glyphicon glyphicon-edit"></span></a>
                                                            </td>
                                                            <td class="text-center">
                                                                <a href="" ng-click="deleteAddressInfo(item.addressId)" title="delete address"> <span class="fa fa-times" style="color:red;"></span></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                          </div>
                                         </div>       
                                        </div>
                                        <div class="text-center">
                                               <h4> {{ getAddressInfomessage }} </h4>
                                            </div>
                                       <div class="modal fade" id="myModal2" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-10" align="center">
                                                            <br>

                                                            <h3 align="center">Modify Address</h3>
                                                            <br>
                                                            <form ng-submit="modifyaddress(modifyAddressObject.addressId)">
                                                                <div class="form-group">
                                                                    <input type="text" ng-model="modifyAddressObject.address" placeholder="Address first Line" class="form-control" required/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="text" pattern="^[a-zA-Z-\s]+$" title=" : only Letters, spaces and (-) are allowed  " ng-model="modifyAddressObject.city"
                                                                        placeholder="city" class="form-control" required/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <select ng-model="modifyAddressObject.state" class="form-control" required>
                                                            <option value="">--select-- </option>
                                                            <option class="form-control" ng-repeat="city in statesList" ng-value="city"> {{ city }}
                                                            </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="text" pattern="^([0-9]{6})$" title=" : Only 6 digits are allowed " ng-model="modifyAddressObject.pinCode" placeholder="Pin Code"
                                                                        class="form-control" required/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="text" pattern="^([0-9]{10})$" title=" : Only 10 digits are allowed " ng-model="modifyAddressObject.phoneNumber" placeholder="Contact No"
                                                                        class="form-control" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="submit" value="Save" class="btn btn-info btn-block" />
                                                                </div>
                                                                <div class="text-center">
                                                                    <h4> {{ modifyaddressmessage }} </h4>
                                                                </div>
                                                            </form>

                                                            <br>
                                                            <br>
                                                        </div>
                                                        <div class="col-md-0"></div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>     
                                       </div> 
</div>