<div class="container">
    <div class="row" ng-init="viewUserCart()">
        <br><br>
         <div style="border-radius: 25px">           
            <div class="col-md-12">
            <table class="table table-hover table-bordered" ng-show="cartList.cartItems.length != 0 ">
                <thead class="text-center">
                    <tr bgcolor="#F0F0F0">
                        <th>Product Name</th>
                        <th class="text-center">Category</th>
                        <th class="text-center">Seller</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Delivery charge</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Total</th>
                        <th class="text-center">Cart offer price</th>                        
                        <th class="text-center">Update</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in cartList.cartList">
                        <td class="col-md-3">
                            <div class="media">
                                <a class="pull-left"> <img src="img/{{item.category}}.jpg" style="width: 50px; height: 50px;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#productDetails/{{item.displayName}}"> {{item.displayName}} </a></h4>
                                </div>
                            </div> 
                        </td>

                        <td class="col-md-1 text-center">{{item.category}}</td>

                        <td class="col-md-1 text-center">{{item.sellerName}}</td>

                        <td class="col-md-1 text-center">{{item.price}}</td>

                        <td class="col-md-1 text-center">{{item.deliveryCharge}}</td>

                        <td class="col-md-1" style="text-align: center">
                            <input type="number" class="form-control" ng-model="item.quantity"  min="0" max="4">
                        </td>

                        <td class="col-md-1 text-center">{{item.total}}</td>

                        <td class="col-md-1 text-center">{{item.cartOfferPrice}}</td>

                        <td class="col-md-1">
                            <button type="button" ng-click="modifyCartItem(item.displayName,item.sellerName,item.quantity,item.cartOfferPrice)" class="btn btn-default">Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
               <h3>  {{ viewUserCartmessage }} <br> 
                    {{modifyCartItemmessage}} 
              </h3>
            </div>
            <div class="pull-right" ng-show="cartList.cartList.length != 0">
                <div class="col-md-offset-0 col-md-12">
                    <h5> Total price : <span class="fa fa-rupee" style="font-size:medium;"> {{cartList.totalprice}} </span> </h5>
                    <h5> Total delivery charge : <span class="fa fa-rupee" style="font-size:medium;"> {{cartList.totaldeliverycharge}} </span> </h5>
                    <h3> Grand Total : <span class="fa fa-rupee" style="font-size:medium;"> {{cartList.grandtotal}} </span> </h3>
                    <button type="button" class="btn btn-default">
                          <a href="#/HomeProducts" > Continue Shopping  </a><span class="glyphicon glyphicon-shopping-cart"></span>
                        </button>
                    <button type="button" class="btn btn-default">
                        <a href="#/payment" >  Checkout </a> <span class="glyphicon glyphicon-play"></span>
                        </button>
                </div>
                
            </div>
            </div>
        </div>
    </div>
</div>