<div>
	<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4" >
		<div align="center">
		<h3 class="text-center">Modify your details</h3>
		<form ng-submit="modifyDetails()">
			
			<div class="form-group">
				<input type="text"
					class="form-control" ng-model="modify.name" placeholder="Name" required="required"/>
			</div>
						
			<div class="form-group">
				 <input type="password"
					class="form-control" ng-model="modify.password" required="required" placeholder="Password"
					pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}" oninvalid="setCustomValidity('Password should contain atleast 1 lowercase , 1 uppercase , 1 number and 1 special character ')" onblur="setCustomValidity('')" />
			</div>
						

			
			<button type="submit" class="btn btn-info btn-block ">Modify</button>
	</div>
	
		</form>
		<br />
	     <h4>	<div ng-bind="modifyMessage" class="text-center"></div> </h4>
		</div>
	</div>	
	<div class="col-md-4"></div>
</div>	