<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-12 col-md-offset-0">
            <h3 class="text-center"> Today's Deals </h3>
            <br>
            <div class="row" ng-init="viewProductsOffers()">
                <div ng-repeat="item in viewProductsList">
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="img/{{item.category}}.jpg" alt="">
                            <div class="caption">
                                <h5 class="pull-right">{{item.discount}}%</h4>
                                <h5><a href="#/productDetails/{{item.displayName}}">{{item.displayName}}</a>
                                </h5>
                                <p> {{ item.shortDesc }} </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <h3> {{ message }} </h3>
                </div>

            </div>
        </div>
    </div>