<div class="container">

</div>
<div class="row">

	<div class="col-md-4"></div>
	<div class="col-md-4 text-center">
		<div>
			<h3>Login</h3>
			<br>
			<form ng-submit="ekartLogin()">


				<div class="form-group">
					<input type="email" class="form-control" ng-model="login.userId" placeholder="Email Id" required="required" />
				</div>

				<div class="form-group">
					<input type="password" class="form-control" ng-model="login.password" required="required" placeholder="Password"
					 pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}" oninvalid="setCustomValidity('Password should contain atleast 1 lowercase , 1 uppercase , 1 number and 1 special character ')" 
					 onblur="setCustomValidity('')"
					 />
				</div>

				<button type="submit"  class="btn btn-info btn-block">Login</button></form>
		</div>


		<br />
		<div class="text-danger" ng-bind="message"></div>
	</div>
	<div class="col-md-4"></div>
</div>