<div class="container" ng-init="searchProductbyName()">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" align="center">
            <form ng-submit="modifyProductdetails()">

                <h3> Modify product details </h3>
                <div class="form-group">
                    <input type="text" ng-model="modifyProduct.displayName" class="form-control" required readonly>
                </div>

                <div class="form-group">
                    <input placeholder="Price" type="number" ng-model="modifyProduct.price" class="form-control" min="0" required>
                </div>

                <div class="form-group">
                    <input placeholder="Discount" type="number" ng-model="modifyProduct.discount" class="form-control" min="0" required>
                </div>

                <div class="form-group">
                    <input placeholder="Delivery charge" type="number" ng-model="modifyProduct.deliveryCharge" class="form-control" min="0" required>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-block">Modify</button>
                </div>

                <div class="form-group">
                    {{ message }}
                </div>
            </form>

        </div>
    </div>


</div>