<div class="col-md-7 col-md-offset-2">
<table class="table table-striped table-bordered" style="border-radius:5px;width: 700px">   
 <tr ng-repeat="item in notificationsList" style="border:1px solid gray;">
 <td>
    	 <br> 
    	 <span class="text-center"> {{ item }} </span>     	
</td>


</tr>
</table>  
</div>  