<link rel="stylesheet" href="css/radiostyle3.css"/>
<div class="container" ng-init="fetchOrderWithStatus()">
    <div class="row">
        <div class="col-md-0"></div>
        <div class="col-md-12" align="center">
            <h2>Order Status</h2>
            <br>
            <form>
                <div class="form-group">
                    <span class="radio-inline" style="font-size:15px;">
						<input type="radio" ng-model="status" value="open" name="radiog_lite" id="radioStatusOpen" class="css-checkbox" ng-click="fetchOrderWithStatus('open')" />
                        <label for="radioStatusOpen" class="css-label radGroup1">Open</label>						
					</span>&nbsp;&nbsp;
					<span class="radio-inline" style="font-size:15px;">
						<input type="radio" ng-model="status" value="delivered" name="radiog_lite" id="radioStatusDelivered" class="css-checkbox" ng-click="fetchOrderWithStatus('delivered')" />
                        <label for="radioStatusDelivered" class="css-label radGroup1">Delivered</label>						
					</span>&nbsp;&nbsp;
					<span class="radio-inline" style="font-size:15px;">
						<input type="radio" ng-model="status" value="cancelled" name="radiog_lite" id="radioStatusCancelled" class="css-checkbox" ng-click="fetchOrderWithStatus('cancelled')" />
                        <label for="radioStatusCancelled" class="css-label radGroup1">Cancelled</label>						
					</span>&nbsp;&nbsp;
					<span class="radio-inline" style="font-size:15px;">
						<input type="radio" ng-model="status" value="returned" name="radiog_lite" id="radioStatusReturned" class="css-checkbox" ng-click="fetchOrderWithStatus('returned')" />
                        <label for="radioStatusReturned" class="css-label radGroup1">Returned</label>												
					</span>&nbsp;&nbsp;
                </div>
            </form>
            <br>
            <form>
                <table class="table table-bordered" ng-show="(viewOrders.ordersList | filter : status).length != 0">
                    <thead class="text-center">
                        <tr bgcolor="#F0F0F0">
                            <th>Order Id</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Total price</th>
                            <th>Ordered Date</th>
                            <th>Status</th>
                            <th ng-show="status == 'open' ">Deliver order</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="item in viewOrders.ordersList | filter : status">
                        <tr>
                            <td>{{item.orderId}}</td>
                            <td>{{item.productName}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.totalPrice}}</td>
                            <td>{{item.orderDate}}</td>
                            <td>{{item.orderStatus}}</td>
                            <td ng-show="status == 'open'" class="text-center"> <a href="" ng-click="deliverOrder(item.orderId,item.userId)" > <span class="fa fa-truck fa-lg"> </span> </a> </td>
                        </tr>
                    </tbody>
                </table>
					<div ng-show="(viewOrders.ordersList | filter : status).length == 0">
					  <h4> No orders to display </h4>	<br>
					</div>
                    <div status == 'open' >
                        <h4> {{ deliverOrdermessage }} </h4> 
                    </div>    
                <br>
                <button class="btn btn-default" type="button" ng-show="status == 'Ordered' " ng-click="onCheck('S')">Deliver It</button>

                <br>
            </form>
        </div>
    </div>
</div>