<link rel="stylesheet" href="css/radiostyle1.css"/>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">

            <div>
                <ul class="nav nav-tabs">
                    <li ng-class="{active: true}">
                        <a href="" data-target="#tab1" data-toggle="tab">Order summary</a>
                    </li>
                    <li>
                        <a href="" data-target="#tab2" data-toggle="tab">Delivery address</a>
                    </li>
                    <li>
                        <a href="" data-target="#tab3" data-toggle="tab">Payment method</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in" id="tab1" ng-class="{active: true}">
                        <br><br>
                        <div class="col-md-12">
                            <div>
                                <div class="row" ng-init="viewCheckoutUserCart()">
                                    <br><br>
                                    <div style="border-radius: 25px">
                                        <div class="col-md-12">
                                            <table class="table table-hover table-bordered" ng-show="checkoutCartList.productlist.length != 0">
                                                <thead class="text-center">
                                                    <tr bgcolor="#F0F0F0">
                                                        <th>Product Name</th>
                                                        <th class="text-center">Category</th>
                                                        <th class="text-center">Seller</th>
                                                        <th class="text-center">Price</th>
                                                        <th class="text-center">Delivery charge</th>
                                                        <th class="text-center">Quantity</th>
                                                        <th class="text-center">Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in checkoutCartList.productlist">
                                                        <td class="col-md-3">
                                                            <div class="media">
                                                                <img class="pull-left" src="img/{{item.category}}.jpg" style="width: 50px; height: 50px;">                                                                </a>
                                                                <div class="media-body">
                                                                    <h4 class="media-heading"><a href="#productDetails/{{item.productName}}"> {{item.productName}} </a></h4>
                                                                </div>
                                                            </div>
                                                        </td>

                                                        <td class="col-md-1 text-center">{{item.category}}</td>

                                                        <td class="col-md-1 text-center">{{item.sellerName}}</td>

                                                        <td class="col-md-1 text-center">{{item.price}}</td>

                                                        <td class="col-md-2 text-center">{{item.deliveryCharge}}</td>

                                                        <td class="col-md-1" style="text-align: center">{{item.quantity}}</td>

                                                        <td class="col-md-1 text-center">{{item.total}}</td>
                                                    </tr>

                                                </tbody>
                                            </table>

                                            <div class="pull-right" ng-show="checkoutCartList.productlist.length != 0">
                                                <div class="col-md-offset-0 col-md-12">
                                                    <h3> Grand Total : <span class="fa fa-rupee" style="font-size:medium;"> {{checkoutCartList.totalprice}} </span>                                                        </h3>
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <h4> {{ viewCheckoutUserCartmessage }} </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                    <div class="tab-pane fade in" id="tab2">
                        <br><br>
                        <div class="panel panel-default">
                            <div>
                                <div class="panel-body" ng-init="getAddressInfo()">
                                    <div class="col-md-12">
                                        <br>
                                        <div class="text-center">
                                            <!-- existing address -->
                                            <div class="panel panel-default">
                                                <table class="table table-bordered table-hover" ng-show="addressList.length != 0">
                                                    <thead class="text-center">
                                                        <tr bgcolor="#F0F0F0">
                                                            <th>City</th>
                                                            <th>Phone number</th>
                                                            <th>State</th>
                                                            <th>Pin Code</th>
                                                            <th>Address</th>
                                                            <th>Select address</th>
                                                            <!--<th>Modify address</th>-->
                                                        </tr>
                                                    </thead>
                                                    <tbody ng-repeat="item in addressList">
                                                        <tr>
                                                            <td>{{item.city}}</td>
                                                            <td>{{item.phoneNumber}}</td>
                                                            <td>{{item.state}}</td>
                                                            <td>{{item.pinCode}}</td>
                                                            <td>{{item.address}}</td>
                                                            <td class="text-center">
                                                            <input type="radio" name="select_address" id="{{item.addressId}}" class="css-checkbox" ng-click="getAddressbyIdforPayment(item.addressId)" /><label for="{{item.addressId}}" class="css-label radGroup1"></label>
                                                            </td>
                                                            <!--<td class="text-center">
                                                               <a href=""  data-toggle="modal" data-target="#myModal2" ng-click="getAddressbyId(item.addressId)" title="modify address"> <span class="glyphicon glyphicon-edit"></span></a>
                                                            </td>                                                               -->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <button class="btn btn-info" data-toggle="modal" data-target="#myModal1">Add new address</button>
                                            <br>
                                            <div class="h4">
                                                {{ getAddressInfomessage }}
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <div class="modal fade" id="myModal1" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-10" align="center">
                                                            <br>

                                                            <h3 align="center">Add Address</h3>
                                                            <br>
                                                            <form ng-submit="saveaddress()">
                                                                <div class="form-group">
                                                                    <input type="text" ng-model="addressObject.address" placeholder="Address first Line" class="form-control" required/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="text" pattern="^[a-zA-Z-\s]+$" title=" : only Letters, spaces and (-) are allowed  " ng-model="addressObject.city"
                                                                        placeholder="city" class="form-control" required/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <select ng-model="addressObject.state" class="form-control" required>
                                                            <option value="">--select-- </option>
                                                            <option class="form-control" ng-repeat="city in statesList" ng-value="city"> {{ city }}
                                                            </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="text" pattern="^([0-9]{6})$" title=" : Only 6 digits are allowed " ng-model="addressObject.pinCode" placeholder="Pin Code"
                                                                        class="form-control" required/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="text" pattern="^([0-9]{10})$" title=" : Only 10 digits are allowed " ng-model="addressObject.phoneNumber" placeholder="Contact No"
                                                                        class="form-control" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="submit" value="Save" class="btn btn-info btn-block" />
                                                                </div>
                                                                <div class="text-center">
                                                                    <h4> {{ saveaddressmessage }} </h4>
                                                                </div>
                                                            </form>

                                                            <br>
                                                            <br>
                                                        </div>
                                                        <div class="col-md-0"></div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <br>

                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="tab3">
                        <br><br>
                        <div class="panel panel-default">
                            <div>
                                <div class="panel-body" ng-init="getCardInfo()">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-offset-1 col-md-10">
                                            <br>
                                            <div class="text-center">
                                                <!-- payment methods existing -->
                                                <div class="panel panel-default">
                                                    <table class="table table-bordered table-hover" ng-show="cardsList.length != 0">
                                                        <thead class="text-center">
                                                            <tr bgcolor="#F0F0F0">
                                                                <th>Card Number</th>
                                                                <th>Name</th>
                                                                <th>Expiry month</th>
                                                                <th>Expiry year</th>
                                                                <th>Card for Payment</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody ng-repeat="item in cardsList">
                                                            <tr>
                                                                <td>{{item.cardNumber}}</td>
                                                                <td>{{item.nameOnCard}}</td>
                                                                <td>{{item.expiryMonth}}</td>
                                                                <td>{{item.expiryYear}}</td>
                                                                <td class="text-center">
                                                                <input type="radio" name="select_card" id="{{item.cardNumber}}" class="css-checkbox" ng-click="selectPaymentMethod(item.cardNumber,item.nameOnCard,item.expiryMonth,item.expiryYear)" />
                                                                <label for="{{item.cardNumber}}" class="css-label radGroup1"></label>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <br>
                                                <br>
                                                <!-- payment methods existing ends -->
                                                <button class="btn btn-info" data-toggle="modal" data-target="#paymentMethod">Add new payment method</button>
                                                <button type="button" data-toggle="modal" data-target="#myCVVModal" class="btn btn-default" ng-show="checkoutCartList.checkoutItems.length != 0 && placeOrderForm.addressDetails.address != null &&  placeOrderForm.paymentMethod.cardNumber != null" >
                                                    Place order  <span class="glyphicon glyphicon-play"></span>
                                                </button>
                                                <div class="h4">
                                                    {{ deleteCardInfomessage}}
                                                    <br> {{ getCardInfomessage }}
                                                   
                                                </div>
                                            </div>

                                            <!-- Modal for payment -->
                                            <div class="modal fade" id="paymentMethod" role="dialog">
                                                <div class="modal-dialog">

                                                    <!-- Modal content for payment -->
                                                    <div class="modal-content">
                                                         <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        </div>
                                                        <div class="modal-body">
                                                        <div class="panel panel-info">
                                                            <div class="panel-heading"><span><i class="glyphicon glyphicon-lock"></i></span> Secure
                                                                Payment
                                                            </div>
                                                            <div class="panel-body">
                                                                <div>
                                                                    <div class="row">
                                                                        <br>
                                                                        <br>
                                                                        <div class="col-md-offset-1 col-md-10" style=" height: 300px; border: 0px solid lightgrey ;  border-radius: 25px; ">
                                                                            <div class="row">
                                                                                <h3 align="center">Add Payment Method</h3>
                                                                                <br>
                                                                                <div align="center">
                                                                                    <form ng-submit="addCardInfo()">
                                                                                        <div class="row">
                                                                                            <div class="col-md-12">
                                                                                                <div class="form-group">
                                                                                                    <input type="text" placeholder="Card Number" ng-model="cardInfo.cardNumber" required="required" class="form-control" pattern="^([0-9]{16})$"
                                                                                                        title=" : Only 16 digits are allowed ">
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-md-12">
                                                                                                <input type="text" placeholder="Name on card" ng-model="cardInfo.nameOnCard" class="form-control" required="required">
                                                                                                <br>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-md-2">
                                                                                                <span class="fa fa-calendar fa-lg"></span></div>
                                                                                            <div class="col-md-5">
                                                                                                <select class="form-control" ng-model="cardInfo.expiryMonth" required="required">
                                                                                                        <option value=""> -- Expiry Month -- </option>    
                                                                                                        <option value="01" >01</option>
                                                                                                        <option value="02">02</option>
                                                                                                        <option value="03">03</option>
                                                                                                        <option value="04">04</option>
                                                                                                        <option value="05">05</option>
                                                                                                        <option value="06">06</option>
                                                                                                        <option value="07">07</option>
                                                                                                        <option value="08">08</option>
                                                                                                        <option value="09">09</option>
                                                                                                        <option value="10">10</option>
                                                                                                        <option value="11">11</option>
                                                                                                        <option value="12">12</option>
                                                                                                        </select>                                                                                                </div>
                                                                                            <div class="col-md-5">
                                                                                                <select class="form-control" ng-model="cardInfo.expiryYear" required="required">
                                                                                                        <option value="" disabled selected> -- Expiry Year -- </option>
                                                                                                        <option value="17">2017</option>
                                                                                                        <option value="18">2018</option>
                                                                                                        <option value="19">2019</option>
                                                                                                        <option value="20">2020</option>
                                                                                                        <option value="21">2021</option>
                                                                                                        <option value="22">2022</option>
                                                                                                        <option value="23">2023</option>
                                                                                                        <option value="24">2024</option>
                                                                                                        <option value="25">2025</option>
                                                                                                        </select>
                                                                                            </div>                                                                                                                                                                                     
                                                                                        </div>
                                                                                        <div class="row">
                                                                                         <br>   
                                                                                        <div class="col-md-12">
                                                                                        <button type="submit" class="btn btn-info btn-block">Save</button>
                                                                                        </div>
                                                                                        <br><br>
                                                                                        <h4 class="text-center"> {{ addCardInfomessage }} </h4>
                                                                                        </div>   
                                                                                    </form>
                                                                                    
                                                                                </div>
                                                                            </div>

                                                                        </div>


                                                                    </div>

                                                                </div>
                                                                <br>
                                                            </div>

                                                        </div>
                                                    </div> 
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Modal for CVV start -->

                                            <div id="myCVVModal" class="modal fade" role="dialog">
                                                    <div class="modal-dialog">

                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">CVV details</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            
                                                           <form ng-submit="placeOrderforUser()"> 
                                                             <div>
                                                                <input type="password" placeholder="Enter CVV" class="form-control" ng-model="cardForm.cvv" required="required"
                                                                        pattern="^([0-9]{3})$" title=" : Only 3 digits are allowed in CVV " >
                                                                <br>        
                                                                <button type="submit" class="btn btn-info" > Place Order </button>
                                                                    
                                                            </div>
                                                            <div class="h4">
                                                                {{ placeOrderforUsermessage }}
                                                            </div>
                                                            </form> 
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                        </div>

                                                    </div>
                                                    </div>            


                                            <!-- Modal for CVV ends -->
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>