<div>
    <div class="row">
        <br>
        <br>
        <br>
        <div class="col-md-3"></div>
        <div class="col-md-6" style=" height: 300px; border: 1px solid lightgrey ;  border-radius: 25px; ">
            <div class="row">
                <h3 align="center">Add Payment Method</h3>
                <br>
                <div class="col-md-12">
                    <div>
                        <div align="center">
                            <form ng-submit="addCardInfo()">
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-10">
                                        <div class="form-group">
                                            <input type="text" placeholder="Card Number" ng-model="cardInfo.cardNumber" required="required" 
                                            class="form-control"
                                            pattern="^([0-9]{16})$" title=" : Only 16 digits are allowed ">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-10">
                                        <input type="text" placeholder="Name on card" ng-model="cardInfo.nameOnCard" class="form-control" required="required">
                                        <br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-1">
                                        <span class="fa fa-calendar fa-lg"></span></div>
                                    <div class="col-md-4">
                                        <select class="form-control"  ng-model="cardInfo.expiryMonth"  required="required">
                                        <option value=""> ----- Expiry Month ----- </option>    
                                        <option value="01" >01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                         </select>
                                    </div>
                                    <div class="col-md-offset-0 col-md-5">
                                        <select class="form-control" ng-model="cardInfo.expiryYear" required="required">
                                        <option value="" disabled selected> ------------ Expiry Year ------------ </option>
                                        <option value="17">2017</option>
                                        <option value="18">2018</option>
                                        <option value="19">2019</option>
                                        <option value="20">2020</option>
                                        <option value="21">2021</option>
                                        <option value="22">2022</option>
                                        <option value="23">2023</option>
                                        <option value="24">2024</option>
                                        <option value="25">2025</option>
                                        </select>
                                    </div>                               
                                </div>
                                <br>
                                <div class="row">
                                <div class="col-md-offset-1 col-md-10">
                                <button type="submit" class="btn btn-info btn-block">Save</button>
                                 </div>
                                </div>
                                <br>
                            </form>
                            <div class="text-center">
                                <br>
                                <br>
                                <h4> {{ message }} </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
            <div>
                            <div>
                                <div ng-init="getCardInfo()">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-offset-1 col-md-10">
                                            <br>
                                            <div class="text-center">
                                                <!-- payment methods existing -->
                                                <div class="panel panel-default">
                                                    <table class="table table-bordered table-hover" ng-show="cardsList.length != 0">
                                                        <thead class="text-center">
                                                            <tr bgcolor="#F0F0F0" class="text-center">
                                                                <th>Card Number</th>
                                                                <th>Name</th>
                                                                <th>Expiry month</th>
                                                                <th>Expiry year</th>
                                                                <th>Delete Card</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody ng-repeat="item in cardsList">
                                                            <tr>
                                                                <td>{{item.cardNumber}}</td>
                                                                <td>{{item.nameOnCard}}</td>
                                                                <td>{{item.expiryMonth}}</td>
                                                                <td>{{item.expiryYear}}</td>
                                                                <td class="text-center">
                                                                <a href="" ng-click="deleteCardInfo(item.cardNumber)" title="delete card"> <span class="fa fa-times" style="color:red;"></span></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <br>
                                                <br>
                                                <!-- payment methods existing ends -->                                                
                                                <div class="h4">
                                                        {{ deleteCardInfomessage}}
                                                    <br> {{ getCardInfomessage }}                                                    
                                                </div>
                                            </div>
                                        </div>
                                       </div> 

</div>