<style>
  ul.nav-pills {
    top: 500px;
    position: fixed;
  }
  
  .select {
    width: 50%;
  }
</style>

<div ng-controller="productCtrl">
  <div class="container" ng-init="getProductDetails()">
    <div class="row">
      <nav class="col-md-4">
        <div class="border1">
          <img class="small img-rounded" style="position: fixed" src="img/{{productDetails.category}}.jpg" width="400px" height="400px"
            style="border: 2px solid gray;padding: 30px;" />
        </div>
        <ul class="nav nav-pills nav-stacked">
          <div align="center">
            <li class="list-group-item">
              <div class="form-group">
                Quanity:
                <select ng-model="cart.quantity"> 
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                </select> &nbsp;&nbsp;&nbsp;
                <a href="" class="fa fa-cart-plus fa-2x" ng-click="addToCart()" title="Add to cart"> </a> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
            </li>
            <li class="list-group-item">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span ng-if="checkLoggedIn()"> <a href="" ng-click="addtoWishList(productDetails.displayName)" ><span title="Add to Wishlist" class="fa fa-heart fa-2x" style="color:pink;"></span></a> </span>              &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="button" id="bid" data-toggle="modal" data-target="#myModal2" class="btn btn-link" ng-click="getPriceComparison(productDetails.displayName)"> Available from {{productDetails.sellerCount}} seller(s) </button>              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </li>
            <div class="h5">
                {{ message }} <br>
                {{ addToCartmessage }} <br>
                {{ addtoWishListmessage }} <br>
                 {{ changeSellermessage }}
            <div>  
          </div>
        </ul>
      </nav>
      <div class="col-md-7 col-md-offset-1">
        <div id="section1">

          <table class="table">
            <tbody>
              <tr>
                <td style="font-size: medium;" class="h3">
                  {{productDetails.displayName}} <small> by  {{productDetails.seller}} </small>
                </td>
              </tr>
              <tr>
                <td>
                  <rating value="productDetails.avgRating" align="left" max="5" size="25px"></rating>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="fa fa-rupee" style="font-size:large;"> <del> {{ productDetails.price }} </del>  &nbsp;&nbsp;</span>&nbsp;
                  <span class="fa fa-rupee" style="font-size:large;"> {{ productDetails.offerPrice }}  &nbsp;&nbsp;</span>&nbsp;                  
                  <span class="fa fa-rupee" style="font-size:large;"> {{ productDetails.deliveryCharge }} (delivery charge) &nbsp;&nbsp;</span>&nbsp;
                  <span style="font-size:large;color:green"> {{productDetails.discount}}%&nbsp;&nbsp;off</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="h4">Features </span>
                  <ul class="list-group">
                    <li class="list-group-item">
                      {{ productDetails.shortDesc}}
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="h4"> Description </span>
                  <ul class="list-group">
                    <li class="list-group-item">
                      {{ productDetails.desc}}
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="h4"> Product review </span>
                  <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in productDetails.reviews">
                      <rating value="item.rating" align="left" max="5" size="15px"></rating>
                      <span class="pull-right"> By :  {{item.userId}} </span>
                      <p>{{item.reviewComments}}</p>
                    </li>
                    <li class="list-group-item" ng-show=" productDetails.reviews.length == 0 ">
                          <h5> No reviews to display </h5>
                    </li> 
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="modal fade" id="myModal2" role="dialog" >
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10" align="center">
                  <br>
                  <div class="panel panel-default">
                    <table class="table table-bordered table-hover" ng-show="priceComparisionDetails.length != 0">
                      <thead class="text-center">
                        <tr bgcolor="#F0F0F0">
                          <th>Name</th>
                          <th>Price</th>
                          <th>Discount</th>
                          <th>Delivery Charge</th>
                          <th>Rating</th>
                        </tr>
                      </thead>
                      <tbody class="text-center">
                        <tr ng-repeat="item in priceComparisionDetails">
                          <td> <a href="" ng-click="changeSeller(item.sellerName)" > {{item.sellerName}} </a> </td>
                          <td> <span class="fa fa-rupee"> {{item.price}} </span> </td>
                          <td>{{item.discount}}%</td>
                          <td> <span  class="fa fa-rupee"> {{item.deliveryCharge}} </span> </td>
                          <td> <rating value="item.rating" align="left" max="5" size="15px"></rating></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                   <div class="text-center">
                        {{ changeSellermessage }}
                    </div>  

                </div>
                <div class="col-md-0"></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>




      </div>
    </div>
  </div>

</div>