<div class="container">
    <div class="row" >
        <div>
            <div class="col-md-3" ng-repeat="item in $parent.productsList">
                <div class="thumbnail">
                <img src="img/{{item.category}}.jpg" alt="" height="50px" width="50px">
                <div class="caption">
                    <h4 class="fa fa-rupee pull-right">{{item.price}}</h4>
                    <h5><a href="#productDetails/{{item.displayName}}">{{item.displayName}}</a>
                    </h5>
                    <p>{{item.shortDesc}} </p>
                </div>
                </div>
            </div>
            <div class="text-center">
               <h3>  {{ $parent.searchCtrlObj.message }} </h3>
            </div>
        </div>
    </div>
</div>