<div class="container">
	<div class="row">

		<div class=" text-center">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div>
						<h2>Sign up</h2>
						<form ng-submit="registerMe()">
							<div class="form-group">
								<input type="text" class="form-control" ng-model="register.name" placeholder="Name" required="required" pattern="[A-Za-z ]+"
								/>
							</div>

							<div class="form-group">
								<input type="email" class="form-control" placeholder="Email Id" ng-model="register.userId" required="required"/>
							</div>
							<div class="form-group">
								<input type="password" class="form-control" ng-model="register.password" required="required" placeholder="Password" ng-change="cnfPassword=null;msg=null;"
								 pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}" oninvalid="setCustomValidity('Password should contain atleast 1 lowercase , 1 uppercase , 1 number and 1 special character ')" onblur="setCustomValidity('')" />
							</div>
							<div class="form-group">
								<input type="password" class="form-control" ng-model="cnfPassword" required="required" placeholder="Confirm Password" ng-blur="register.password!=cnfPassword?msg='Passwords are not matching':msg=''"
								pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}" oninvalid="setCustomValidity('Password should contain atleast 1 lowercase , 1 uppercase , 1 number and 1 special character ')" onblur="setCustomValidity('')" />
							</div>
							<div ng-bind="msg" class="text-danger"></div>
							<div class="form-group">
								<button type="submit" class="btn btn-info btn-block">Sign Up</button>
							</div>

						</form>
						<br />
						<div ng-bind="signUpMessage"></div>
					</div>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
	</div>