<link rel="stylesheet" href="css/radiostyle1.css"/>
<div class="container" ng-init="viewUserCart()">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        <div class="panel panel-default">
                        <table class="table table-bordered table-hover" ng-show="sellerCartList.length != 0">
                            <thead class="text-center">
                                <tr bgcolor="#F0F0F0">
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>Total Price</th>
                                    <th> View details </th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="item in sellerCartList">
                                <tr>
                                    <td>{{item.displayName}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.total}}</td>
                                    <td class="text-center">
                                        <input type="radio" name="radiog_lite" id="{{$index}}" class="css-checkbox" ng-click="viewSelectedProduct(item.displayName,item.userId)" /><label for="{{$index}}" class="css-label radGroup1"></label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

            <div class="thumbnail" style="border:none;" ng-show="selectedCartItem != null">
                <form ng-submit="updateCartprice(selectedCartItem.userId,selectedCartItem.displayName,selectedCartItem.cartOfferPrice,selectedCartItem.quantity)">
                <div class="row" style="border: 1px solid lightgrey">
                    <div class="col-md-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="img/{{selectedCartItem.category}}.jpg" width="50px" height="350px" class="img-thumbnail" style="padding:10px;border:none;border-radius:20px;">
                    </div>
                    <div class="col-md-6">
                        <br><br>
                        <table class="table">
                            <tr>
                                <td style="font-weight:bolder;">Product name :</td>
                                <td>{{selectedCartItem.displayName}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bolder;">Quantity :</td>
                                <td>{{selectedCartItem.quantity}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bolder;">Price :</td>
                                <td><span class="fa fa-inr " style="color:green;">{{selectedCartItem.price}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bolder;">Discount :</td>
                                <td><span>{{selectedCartItem.discount}}%</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bolder;">DeliveryCharge :</td>
                                <td><span class="fa fa-inr " style="color:green;">{{selectedCartItem.deliveryCharge}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bolder;">Total :</td>
                                <td><span class="fa fa-inr " style="color:green;">{{selectedCartItem.total}}</td>
                            </tr>
                            
                            <tr>
                                <td style="font-weight:bolder;">Cart Offer :</td>
                                <td><input type="number" ng-model="selectedCartItem.cartOfferPrice" width="5px" class="form-control" required >&nbsp;<br>
                                <button class="btn" type="submit" > Give Offer </button></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                 <div class="text-center">
                                      <h4>  {{ message }}  </h4>
                                 </div>   
                                 </td> 
                            </tr>                                 
                        </table>
                    </div>
                </div>
                 </form>
            </div>           
             <div class="text-center">
                <h4>   {{ viewUserCartmessage }} </h4>
             </div>   
        </div>
    </div>
</div>