<div class="container" ng-init="viewRecommendedProducts()">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div>
                    <div class="h3 text-center" ng-show="viewRecommendedProductsList.length != 0"> Recommended products for you </div>
                    <div class="col-md-3" ng-repeat="item in viewRecommendedProductsList">
                        <div class="thumbnail">
                            <img src="img/{{item.category}}.jpg" alt="">
                            <div class="caption">
                                <h4><a href="#productDetails/{{item.displayName}}">{{item.displayName}}</a></h4>
                                <p>{{item.shortDesc}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <h3> {{ message }} </h3>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>