<link rel="stylesheet" href="css/radiostyle3.css"/>
<div ng-controller="ViewUserOrderController" ng-init="fetchOrderWithStatus()">

	<div class="row">

		<div class="col-md-offset-1 col-md-10" align="center">

			<h3>View Orders</h3>
			<form>
				<div class="form-group">
					<span class="radio-inline" style="font-size:15px;">
						<input type="radio" ng-model="status" value="open" name="radiog_lite" id="radioStatusOpen" class="css-checkbox" ng-click="fetchOrderWithStatus('open')" />
                        <label for="radioStatusOpen" class="css-label radGroup1">Open</label>						
					</span>&nbsp;&nbsp;
					<span class="radio-inline" style="font-size:15px;">
						<input type="radio" ng-model="status" value="delivered" name="radiog_lite" id="radioStatusDelivered" class="css-checkbox" ng-click="fetchOrderWithStatus('delivered')" />
                        <label for="radioStatusDelivered" class="css-label radGroup1">Delivered</label>						
					</span>&nbsp;&nbsp;
					<span class="radio-inline" style="font-size:15px;">
						<input type="radio" ng-model="status" value="cancelled" name="radiog_lite" id="radioStatusCancelled" class="css-checkbox" ng-click="fetchOrderWithStatus('cancelled')" />
                        <label for="radioStatusCancelled" class="css-label radGroup1">Cancelled</label>						
					</span>&nbsp;&nbsp;
					<span class="radio-inline" style="font-size:15px;">
						<input type="radio" ng-model="status" value="returned" name="radiog_lite" id="radioStatusReturned" class="css-checkbox" ng-click="fetchOrderWithStatus('returned')" />
                        <label for="radioStatusReturned" class="css-label radGroup1">Returned</label>												
					</span>&nbsp;&nbsp;
				</div>
			</form>
			<br> <br>

				<div class="panel panel-default">
					<table class="table table-bordered" ng-show="(viewOrders.ordersList | filter : status).length != 0">
						<thead class="bg-success text-center">
							<tr bgcolor="#F0F0F0">
								<th>Order Id</th>
								<th>Product Name</th>
								<th>Category</th>								
								<th>Seller</th>																
								<th>Quantity</th>
								<th>Total price</th>
								<th>Ordered Date</th>
								<th>Status</th>
								<th ng-show="status == 'open'"> Cancel order </th>
								<th ng-show="status == 'delivered'"> Return order </th>
								<th ng-show=" status == 'delivered' || status == 'returned' ">Rate Product</th>
								<th ng-show=" status == 'delivered' || status == 'returned' ">Rate Seller</th>
							</tr>
						</thead>
						<tbody ng-repeat="item in viewOrders.ordersList | filter : status">
							<tr class="text-center">
								<td>{{item.orderId}}</td>
								<td>{{item.productName}}</td>
								<td>{{item.category}}</td>
								<td>{{item.sellerName}}</td>
								<td>{{item.quantity}}</td>
								<td>{{item.totalPrice}}</td>
								<td>{{item.deliveryTs}}</td>
								<td>{{item.orderStatus}}</td>
								<td ng-show="item.btnCancel && status != null ">
									<a href="" title="cancel order" ng-click="cancelOrder(item.orderId)"> <span class="fa fa-times" style="color:red;"></span> </a>
								</td>
								<td ng-show="item.btnReturn && status != null ">	
									<a href="" title="return order" ng-click="returnOrder(item.orderId)"> <span class="fa fa-arrow-left"></span> </a>
								</td>
								<td ng-show="item.btnReviewProduct && status != null ">
									<a href="" title="review product" data-toggle="modal" data-target="#reviewProduct" ng-click="setProductName(item.productName)" > <span class="fa fa-star-o fa-lg"> </span> </a>
								</td>
								<td ng-show="item.btnReviewSeller && status != null ">
									<a href="" title="review seller" data-toggle="modal" data-target="#reviewSeller" ng-click="setsellerName(item.sellerName)" > <span class="fa fa-star-o fa-lg"> </span> </a>									
								</td>						
							</tr>
						</tbody>
					</table>	
	
					<!-- Review product -->
					<div class="modal fade" id="reviewProduct" role="dialog">
						<div class="modal-dialog" style="background-color: white">

							<div class="modal-header">
								<h3 class="modal-title">Review product</h3>
							</div>
							<div class="modal-body">
								<div class="row" id="post-review-box">
									<div class="col-md-12">
										<form ng-submit="reviewProduct()">
											<ul>
												<Label>Rate this product : {{product.productName}}</Label><br>
                      							<rating value="productReview.rating" align="center" max="5" size="15px" interactive ="true" required></rating>
											</ul>
											<textarea class="form-control animated" cols="50" id="new-review" name="comment" placeholder="Enter your review here..."
												rows="5" ng-model="productReview.reviewComments" required></textarea>
												<br>
												<div class="text-right">
													<div class="stars starrr" data-rating="0"></div>
													<a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;">
														<span class="glyphicon glyphicon-remove"></span>Cancel</a>
													<button class="btn btn-default btn-md" type="submit">Save</button>
												</div>
												<div class="text-center">
														<h4> {{ productReview.message }} </h4>
												</div>														
										</form>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
					<!-- Review product ends -->

					<!-- Review Seller -->
					<div class="modal fade" id="reviewSeller" role="dialog">
						<div class="modal-dialog" style="background-color: white">

							<div class="modal-header">
								<h3 class="modal-title">Review seller</h3>
							</div>
							<div class="modal-body">
								<div class="row" id="post-sellerreview-box">
									<div class="col-md-12">
										<form ng-submit="reviewSeller()">
											<ul>
												<Label>Rate seller : {{ seller.sellerName }} </Label><br>
                      							<rating value="sellerReview.rating" align="center" max="5" size="15px" interactive ="true"></rating>												
											</ul>
											<textarea class="form-control animated" cols="50" id="new-review" name="comment" placeholder="Enter your review here..."
												rows="5" ng-model="sellerReview.reviewComments"></textarea>
												<br>
												<div class="text-right">	
													<div class="stars starrr" data-rating="0"></div>
													<a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;">
														<span class="glyphicon glyphicon-remove"></span>Cancel</a>
													<button class="btn btn-default btn-md" type="submit">Save</button>
												</div>
												<div class="text-center">
														<h4> {{ sellerReview.message }} </h4>
												</div>		
										</form>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
					<!-- Review seller ends -->

				</div>
					<!-- Message -->	
					<div ng-show="(viewOrders.ordersList | filter : status).length == 0">
					  <h4> No orders to display </h4>	
					</div>

			</div>
		</div>
</div>