<div class="container" >


    <div class="row" ng-init="viewProductsOfSeller()" >
        
        <div class="col-md-3" id="content" ng-repeat="item in viewProductsList" >
        <div>
              
                <div class="thumbnail" >
                    <img src="img/{{item.category}}.jpg" height="50px" width="50px">
                    <div class="caption">
                        <h5 class="pull-right">Items Sold : {{item.itemsSold}}</h5>
                        <h5>{{item.displayName}}
                        </h5>
                        <br>
                        <h5>Total : <span class="fa fa-inr" style="color:green;"></span>&nbsp;{{item.totalAmount}} 
                        <a class="pull-right" href="#/modifyProduct/{{item.displayName}}" title="modify product" > <span class="glyphicon glyphicon-edit" style="color:red;"></span> </a>
                        </h5>
                    </div>

            </div>


        </div>
    
    </div>








</div>