<div class="container" >
    <div class="row" ng-init="getProductsfromWishList()">
     <div class="h3 text-center"> Products in your wishlist </div>
      <div ng-repeat="item in wishList">   
        <div class="col-md-0"> </div>
        <div class="col-md-3" id="content">
                <span class="thumbnail">
                    <img src="img/{{item.category}}.jpg" alt="" height="50px" width="50px"></img>
                    <div class="caption">
                        <h4 class="pull-right"><a href="#/wishlist" ng-click="removeProductFromWishList(item.productName)" title="delete from wishlist"> <span class="fa fa-times" style="color:red;"></span></a></h4>                        
                        <h5><a href="#/productDetails/{{item.displayName}}">{{item.displayName}}</a></h5>
                        <p>{{item.shortDesc}} </p>
                    </div>                    
                </span>
        </div>
    </div>
    </div>
    <div class="text-center">
            <h4> {{ message }} </h4>
    </div>        
</div>